/**
*
* Testing
*
**/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* FONTS *\ */
/* COLOURS *\     */
html {
  scroll-behaviour: smooth;
}

body {
  height: 100vh;
  background: #0A1C2D;
  font-family: "Inter", sans-serif;
  color: #99BDC6;
}
body .contact-section {
  display: inline-block;
  position: relative;
  width: 1920px;
  height: 1080px;
  top: 1080px;
}
@media (min-width: 1930px) {
  body .contact-section {
    top: 2160px;
    height: 2160px;
    width: 100vw;
  }
}
@media (max-width: 1336px) {
  body .contact-section {
    top: 720px;
    height: 720px;
  }
}
body .contact-section .contact-section-left {
  z-index: 1;
  position: absolute;
  width: 609px;
  height: 385px;
  left: 150px;
  top: 423px;
}
@media (min-width: 1930px) {
  body .contact-section .contact-section-left {
    transform: scale(2);
    left: 600px;
    top: 846px;
  }
}
@media (max-width: 1336px) {
  body .contact-section .contact-section-left {
    transform: scale(0.8);
    left: 0px;
    top: 170px;
  }
}
body .contact-section .contact-section-left #contact-text-01 {
  position: absolute;
  margin: 0;
  width: 331px;
  height: 58px;
  top: -10px;
  left: 40px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.35em;
  color: #99BDC6;
}
body .contact-section .contact-section-left #contact-text-02 {
  position: absolute;
  margin: 0;
  height: 50px;
  width: 100%;
  left: 40px;
  top: 40px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.35em;
  color: #99BDC6;
}
body .contact-section .contact-section-left #contact-text-03 {
  position: absolute;
  height: 19px;
  left: 40px;
  top: 79px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.355em;
  color: #99BDC6;
}
body .contact-section .contact-section-left #contact-text-04 {
  position: absolute;
  width: 384px;
  height: 113px;
  left: 40px;
  top: 130px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13.5px;
  line-height: 22px;
  letter-spacing: 0.13em;
}
body .contact-section .contact-section-left #email-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 40px;
  top: 280px;
}
body .contact-section .contact-section-left #github-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 40px;
  top: 320px;
}
body .contact-section .contact-section-left #cv-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 40px;
  top: 360px;
}
body .contact-section .contact-section-left #email-text {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 65px;
  top: 280px;
  font-style: normal;
  font-weight: 700;
  font-size: 13.5px;
  line-height: 163.02%;
  /* or 22px */
  letter-spacing: 0.13em;
  color: #CBDDDB;
}
body .contact-section .contact-section-left #github-text {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 65px;
  top: 320px;
  font-style: normal;
  font-weight: 300;
  font-size: 13.5px;
  line-height: 22px;
  letter-spacing: 0.13em;
  color: #CBDDDB;
}
body .contact-section .contact-section-left #cv-text {
  position: absolute;
  height: 20px;
  left: 65px;
  top: 360px;
  font-style: normal;
  font-weight: 300;
  font-size: 13.5px;
  line-height: 22px;
  letter-spacing: 0.13em;
  color: #CBDDDB;
}
body .contact-section .contact-section-right {
  position: absolute;
}
body .contact-section .contact-section-right #background-gif-contact {
  overflow: hidden;
  opacity: 0.006;
  width: 100vw;
  height: 100vh;
}/*# sourceMappingURL=style-contactsection.css.map */